node_modules
npm-debug.log*
.git
.github
.nx/cache
.nx/workspace-data
coverage
dist
build
storybook-static
app/*/storybook-static
app/*/dist
app/cms/.sanity
*.tsbuildinfo
.env
.env.*
!.env.example
docs/*.png
